<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.clouddoshop.dao.AddresslistDao">

	<select id="get" resultType="com.bootdo.clouddoshop.domain.AddresslistDO">
		select `addressId`,`userId`,`userName`,`streetName`,`postCode`,`tel`,`isDefault` from addresslist where addressId = #{value}
	</select>

	<select id="list" resultType="com.bootdo.clouddoshop.domain.AddresslistDO">
		select `addressId`,`userId`,`userName`,`streetName`,`postCode`,`tel`,`isDefault` from addresslist
        <where>  
		  		  <if test="addressid != null and addressid != ''"> and addressId = #{addressid} </if>
		  		  <if test="userid != null and userid != ''"> and userId = #{userid} </if>
		  		  <if test="username != null and username != ''"> and userName = #{username} </if>
		  		  <if test="streetname != null and streetname != ''"> and streetName = #{streetname} </if>
		  		  <if test="postcode != null and postcode != ''"> and postCode = #{postcode} </if>
		  		  <if test="tel != null and tel != ''"> and tel = #{tel} </if>
		  		  <if test="isdefault != null and isdefault != ''"> and isDefault = #{isdefault} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by addressId desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from addresslist
		 <where>  
		  		  <if test="addressid != null and addressid != ''"> and addressId = #{addressid} </if>
		  		  <if test="userid != null and userid != ''"> and userId = #{userid} </if>
		  		  <if test="username != null and username != ''"> and userName = #{username} </if>
		  		  <if test="streetname != null and streetname != ''"> and streetName = #{streetname} </if>
		  		  <if test="postcode != null and postcode != ''"> and postCode = #{postcode} </if>
		  		  <if test="tel != null and tel != ''"> and tel = #{tel} </if>
		  		  <if test="isdefault != null and isdefault != ''"> and isDefault = #{isdefault} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.clouddoshop.domain.AddresslistDO" useGeneratedKeys="true" keyProperty="addressid">
		insert into addresslist
		(
			`userId`, 
			`userName`, 
			`streetName`, 
			`postCode`, 
			`tel`, 
			`isDefault`
		)
		values
		(
			#{userid}, 
			#{username}, 
			#{streetname}, 
			#{postcode}, 
			#{tel}, 
			#{isdefault}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.clouddoshop.domain.AddresslistDO">
		update addresslist 
		<set>
			<if test="userid != null">`userId` = #{userid}, </if>
			<if test="username != null">`userName` = #{username}, </if>
			<if test="streetname != null">`streetName` = #{streetname}, </if>
			<if test="postcode != null">`postCode` = #{postcode}, </if>
			<if test="tel != null">`tel` = #{tel}, </if>
			<if test="isdefault != null">`isDefault` = #{isdefault}</if>
		</set>
		where addressId = #{addressid}
	</update>
	
	<delete id="remove">
		delete from addresslist where addressId = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from addresslist where addressId in 
		<foreach item="addressid" collection="array" open="(" separator="," close=")">
			#{addressid}
		</foreach>
	</delete>

</mapper>